<p>This is the BLABLA view.</p>
<div class="row">
  <div class="col-md-2" style="background-color:#ff8080;">Ime restorana
  </div>
  <div class="col-md-1" style="background-color:#ccffb3;">Prizemlje
  </div>
  <div class="col-md-1" style="background-color:#99ccff;">Prvi sprat
  </div>
  <div class="col-md-8" style="background-color:#ffff99;">.col-sm-8
  </div>
</div>
<div class="col-md-4">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          <div class="panel-heading">
            <h4 class="panel-title">
                <p>
                    21:00 - 23:00 <span class="glyphicon glyphicon-user">3</span>
                  <span class="text-right">REZERVISANO<span>
                </p>
              Pera Peric 22
            </h4>
          </div>
          <div id="collapse1" class="collapsed panel-collapse collapse">
            <div class="panel-body">
                <label>Telefon: </label> 0641234567
                <br/>
                <label>Email: </label> pera.peric@gmail.com
            </div>
          </div>
        </div>
        <div class="panel panel-default" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <p>
                      21:00 - 23:00 <span class="glyphicon glyphicon-user">3</span>
                    <span class="text-right">REZERVISANO<span>
                  </p>
                Pera Peric 22
              </h4>
          </div>
          <div id="collapse2" class="collapsed panel-collapse collapse">
              <div class="panel-body">
                  <label>Telefon: </label> 0641234567
                  <br/>
                  <label>Email: </label> pera.peric@gmail.com
              </div>
          </div>
        </div>
        <div class="panel panel-default" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <p>
                      21:00 - 23:00 <span class="glyphicon glyphicon-user">3</span>
                    <span class="text-right">REZERVISANO<span>
                  </p>
                Pera Peric 22
              </h4>
          </div>
          <div id="collapse3" class="collapsed panel-collapse collapse">
              <div class="panel-body">
                  <label>Telefon: </label> 0641234567
                  <br/>
                  <label>Email: </label> pera.peric@gmail.com
              </div>
          </div>
        </div>
        <div class="panel panel-default" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <p>
                      21:00 - 23:00 <span class="glyphicon glyphicon-user">3</span>
                    <span class="text-right">REZERVISANO<span>
                  </p>
                Pera Peric 22
              </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">
                  <label>Telefon: </label> 0641234567
                  <br/>
                  <label>Email: </label> pera.peric@gmail.com
              </div>
          </div>
        </div>
        <div class="panel panel-default" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <p>
                      21:00 - 23:00 <span class="glyphicon glyphicon-user">3</span>
                    <span class="text-right">REZERVISANO<span>
                  </p>
                Pera Peric 22
              </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body">
                  <label>Telefon: </label> 0641234567
                  <br/>
                  <label>Email: </label> pera.peric@gmail.com
              </div>
          </div>
        </div>
        <div class="panel panel-default" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <p>
                      21:00 - 23:00 <span class="glyphicon glyphicon-user">3</span>
                    <span class="text-right">REZERVISANO<span>
                  </p>
                Pera Peric 22
              </h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
              <div class="panel-body">
                  <label>Telefon: </label> 0641234567
                  <br/>
                  <label>Email: </label> pera.peric@gmail.com
              </div>
          </div>
        </div>
    </div>
</div>
    <div class="col-md-8">
        <ul>
            <li>{{ guest.first_name }}</li>
            <li>{{ guest.last_name }}</li>
            <li>{{ guest.phone_number }}</li>
            <li>{{ guest.email }}</li>
        </ul>
        <aside draggable="true" id="dragme">
        </aside>
        <div class="panel">
            <img src="images/plan.png" class="img-rounded" alt="Cinque Terre" width="750" height="500">
        </div>
    </div>
</div>
