<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 text-center slider-wrapper">

                    <rzslider rz-slider-model="slider.minValue"
                        rz-slider-high="slider.maxValue"
                        rz-slider-options="slider.options"
                        class="slider">
                    </rzslider>
            </div>
        </div>
    </div>
    <div class="container">
        <button class="save-button" data-ng-click="saveLayout()">Save layout</button>
        <div id="#drag-area" class="white-area">
            <div class="row">

                <div class="col-xs-12 col-sm-8 text-center">
                    <div class="panel">
                        <img ng-src="{{selectedLevel.schema}}" class="img-rounded schema-img" alt="Plan" width="750" height="500">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <div class="right-side">
                        <div class="date-custom">
                            <p>
                                <a href="javascript:void(0);">
                                    <span ng-click="open()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        <b>{{dt | date: 'EEEE' | uppercase}}</b>
                                        <em>{{dt | date: 'dd.MM.yyyy.'}}</em>
                                        <i class="glyphicon glyphicon-chevron-down"></i>
                                    </span>
                                    <input type="text" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup.opened"
                                        datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                </a>
                            </p>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div ui-view></div>
                                <!-- <ul class="reservations panel-group" id="accordion"> -->

<!--
                                        <accordion close-others="true" >
                                          <accordion-group  is-open="isopen"
                                              ng-repeat="item in items"
                                              ng-controller="ItemController">
                                              <accordion-heading >
                                                {{item.desc}} - {{isopen}}
                                                  <i class="pull-right glyphicon"
                                                        ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                                              </accordion-heading>

                                              <div ng-repeat="subitem in item.subitems">{{subitem.desc}}</div>
                                          </accordion-group>
                                      </accordion> -->


                                      <!-- <li class="panel panel-default">
                                          <a data-toggle="collapse" class="row" data-parent="#accordion" href="#collapse1" >
                                                    <span class="col-xs-6 text-left">
                                                        <span><i class="glyphicon glyphicon-time"></i>19:00 - 21:00<i class="glyphicon glyphicon-user"></i>2 </span>
                                                    </span>
                                                    <span class="col-xs-6">
                                                        <strong class="pull-right green">Rezervisan</strong>
                                                    </span>
                                                    <span class="col-xs-6 text-left title">
                                                        Pera Peric
                                                    </span>
                                                    <span class="col-xs-6">
                                                        <strong class="pull-right gray">22</strong>
                                                    </span>
                                                </a>
                                                <span id="collapse1" class="panel-collapse collapse in">
                                                    <b>E-mail: pera@gmail.com/b>
                                                    <b>Telefon: 064 15 15 590</b>
                                                </span>
                                    </li>

                                    <li class="panel panel-default">
                                        <a data-toggle="collapse" class="row"  data-parent="#accordion" href="#collapse2" >
                                                  <span class="col-xs-6 text-left">
                                                      <span><i class="glyphicon glyphicon-time"></i>19:00 - 21:00<i class="glyphicon glyphicon-user"></i>2 </span>
                                                  </span>
                                                  <span class="col-xs-6">
                                                      <strong class="pull-right green">Rezervisan</strong>
                                                  </span>
                                                  <span class="col-xs-6 text-left title">
                                                      Pera Peric
                                                  </span>
                                                  <span class="col-xs-6">
                                                      <strong class="pull-right gray">22</strong>
                                                  </span>
                                              </a>
                                              <span id="collapse2" class="panel-collapse collapse in">
                                                  <b>E-mail: pera@gmail.com/b>
                                                  <b>Telefon: 064 15 15 590</b>
                                              </span>
                                  </li> -->


                                  <!-- <li data-ng-repeat="res in reservations track by $index" class="panel panel-default"
                                    data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">
                                    <a class="row" href="javascript:void(0);">
                                              <span class="col-xs-6 text-left">
                                                  <span><i class="glyphicon glyphicon-time"></i>19:00 - 21:00<i class="glyphicon glyphicon-user"></i>{{res.number_of_guests}}</span>
                                              </span>
                                              <span class="col-xs-6">
                                                  <strong class="pull-right green">Rezervisan</strong>
                                              </span>
                                              <span class="col-xs-6 text-left title">
                                                  Pera Peric
                                              </span>
                                              <span class="col-xs-6">
                                                  <strong data-ng-repeat=""class="pull-right gray">{{res.number_of_guests}}</strong> -->
                                                  <!-- <strong class="pull-right gray">{{res.number_of_guests}}</strong> -->
                                              <!-- </span>
                                          </a>
                                          <span class="slide" id="collapse{{$index}}">
                                              <b>E-mail: pera@gmail.com</b>
                                              <b>Telefon: 064 15 15 590</b>
                                          </span>

                                  </li> -->

<!--
                                        <li class="panel panel-default" data-toggle="collapse" data-parent="#accordion" href="#collapse1" >
                                            <a class="row" href="javascript:void(0);">
                                                      <span class="col-xs-6 text-left">
                                                          <span><i class="glyphicon glyphicon-time"></i>19:00 - 21:00<i class="glyphicon glyphicon-user"></i>2 </span>
                                                      </span>
                                                      <span class="col-xs-6">
                                                          <strong class="pull-right green">Rezervisan</strong>
                                                      </span>
                                                      <span class="col-xs-6 text-left title">
                                                          Pera Peric
                                                      </span>
                                                      <span class="col-xs-6">
                                                          <strong class="pull-right gray">22</strong>
                                                      </span>
                                                  </a>
                                                  <span class="slide">
                                                      <b>E-mail: pera@gmail.com</b>
                                                      <b>Telefon: 064 15 15 590</b>
                                                  </span>
                                      </li>

                                      <li class="panel panel-default" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                          <a class="row" href="javascript:void(0);">
                                                    <span class="col-xs-6 text-left">
                                                        <span><i class="glyphicon glyphicon-time"></i>19:00 - 21:00<i class="glyphicon glyphicon-user"></i>2 </span>
                                                    </span>
                                                    <span class="col-xs-6">
                                                        <strong class="pull-right green">Rezervisan</strong>
                                                    </span>
                                                    <span class="col-xs-6 text-left title">
                                                        Pera Peric
                                                    </span>
                                                    <span class="col-xs-6">
                                                        <strong class="pull-right gray">22</strong>
                                                    </span>
                                                </a>
                                                <span class="slide">
                                                    <b>E-mail: pera@gmail.com</b>
                                                    <b>Telefon: 064 15 15 590</b>
                                                </span>
                                    </li>

                                    <li class="panel panel-default" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                        <a class="row" href="javascript:void(0);">
                                                  <span class="col-xs-6 text-left">
                                                      <span><i class="glyphicon glyphicon-time"></i>19:00 - 21:00<i class="glyphicon glyphicon-user"></i>2 </span>
                                                  </span>
                                                  <span class="col-xs-6">
                                                      <strong class="pull-right green">Rezervisan</strong>
                                                  </span>
                                                  <span class="col-xs-6 text-left title">
                                                      Pera Peric
                                                  </span>
                                                  <span class="col-xs-6">
                                                      <strong class="pull-right gray">22</strong>
                                                  </span>
                                              </a>
                                              <span class="slide">
                                                  <b>E-mail: pera@gmail.com</b>
                                                  <b>Telefon: 064 15 15 590</b>
                                              </span>
                                  </li> -->




                                        <!-- <div class="panel panel-default" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                          <div class="panel-heading">
                                              <h4 class="panel-title">
                                                  <p>
                                                      21:00 - 23:00 <span class="glyphicon glyphicon-user">3</span>
                                                    <span class="text-right">REZERVISANO<span>
                                                  </p>
                                                Pera Peric 22
                                              </h4>
                                          </div>
                                          <div id="collapse2" class="collapsed panel-collapse collapse">
                                              <div class="panel-body">
                                                  <label>Telefon: </label> 0641234567
                                                  <br/>
                                                  <label>Email: </label> pera.peric@gmail.com
                                              </div>
                                          </div>
                                        </div> -->







                                    <!-- <li>
                                        <a class="row" href="javascript:void(0);">
                                            <span class="col-xs-6 text-left">
                                                <span><i class="glyphicon glyphicon-time"></i>19:00 - 21:00<i class="glyphicon glyphicon-user"></i>2 </span>
                                            </span>
                                            <span class="col-xs-6">
                                                <strong class="pull-right green">Rezervisan</strong>
                                            </span>
                                            <span class="col-xs-6 text-left title">
                                                Pera Peric
                                            </span>
                                            <span class="col-xs-6">
                                                <strong class="pull-right gray">22</strong>
                                            </span>
                                        </a>
                                        <span class="slide">
                                            <b>E-mail: peraperic@gmail.com</b>
                                            <b>Telefon: 0641234567</b>
                                        </span>
                                    </li>
                                    <li>
                                        <a class="row" href="javascript:void(0);">
                                            <span class="col-xs-6 text-left">
                                                <span><i class="glyphicon glyphicon-time"></i>19:00 - 21:00<i class="glyphicon glyphicon-user"></i>2 </span>
                                            </span>
                                            <span class="col-xs-6">
                                                <strong class="pull-right green">Rezervisan</strong>
                                            </span>
                                            <span class="col-xs-6 text-left title">
                                                Pera Peric
                                            </span>
                                            <span class="col-xs-6">
                                                <strong class="pull-right gray">22</strong>
                                            </span>
                                        </a>
                                        <span class="slide">
                                            <b>E-mail: peraperic@gmail.com</b>
                                            <b>Telefon: 0641234567</b>
                                        </span>
                                    </li>
                                    <li>
                                        <a class="row" href="javascript:void(0);">
                                            <span class="col-xs-6 text-left">
                                                <span><i class="glyphicon glyphicon-time"></i>19:00 - 21:00<i class="glyphicon glyphicon-user"></i>2 </span>
                                            </span>
                                            <span class="col-xs-6">
                                                <strong class="pull-right green">Rezervisan</strong>
                                            </span>
                                            <span class="col-xs-6 text-left title">
                                                Pera Peric
                                            </span>
                                            <span class="col-xs-6">
                                                <strong class="pull-right gray">22</strong>
                                            </span>
                                        </a>
                                        <span class="slide">
                                            <b>E-mail: peraperic@gmail.com</b>
                                            <b>Telefon: 0641234567</b>
                                        </span>
                                    </li>
                                    <li>
                                        <a class="row" href="javascript:void(0);">
                                            <span class="col-xs-6 text-left">
                                                <span><i class="glyphicon glyphicon-time"></i>19:00 - 21:00<i class="glyphicon glyphicon-user"></i>2 </span>
                                            </span>
                                            <span class="col-xs-6">
                                                <strong class="pull-right green">Rezervisan</strong>
                                            </span>
                                            <span class="col-xs-6 text-left title">
                                                Pera Peric
                                            </span>
                                            <span class="col-xs-6">
                                                <strong class="pull-right gray">22</strong>
                                            </span>
                                        </a>
                                        <span class="slide">
                                            <b>E-mail: peraperic@gmail.com</b>
                                            <b>Telefon: 0641234567</b>
                                        </span>
                                    </li> -->
                                <!-- </ul> -->
                            </div>
                        </div>
                    </div>
                </div>


            <div id="tables-div">

            </div>

        </div>

        </div>

        </div>
        </div>
