<div class="container">
    <form role="form" class="new-reservation">
        <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Ime">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="lastName" placeholder="Prezime">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="telephone" placeholder="Broj telefona">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <select class="form-control">
                <option value="" disabled selected class="form-placeholder">Broj osoba</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <span style="margin-right:5px;">
                <label for="from" style="text-align:left;">OD</label>
                <select class="form-control" style="display:inline-block;width:30%;margin-left:4px;">
                    <option>14:00</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </span>
            <span style="margin-left:5px">
                <label for="to" style="text-align:left;">DO</label>
                <select class="form-control" style="display:inline-block;width:30%;">
                    <option>16:00</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </span>
        </div>
        <div class="form-group" style="text-align:left;">
            <label for="from">STO</label>
            <input type="text" class="form-control" id="tables" placeholder="Sto">
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="3"placeholder="Komentar"></textarea>
        </div>
        <button type="button" class="btn btn-default" style="margin-right:6px;">Otkaži</button>
        <button type="submit" class="btn btn-primary">Sačuvaj</button>
    </form>
</div>
