<div class="container">
    <form role="form" style="width:40%;margin-top:70px;">
        <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Ime">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="lastName" placeholder="Prezime">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="telephone" placeholder="Broj telefona">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <select class="form-control">
                <option value="" disabled selected class="form-placeholder">Broj osoba</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="from" style="margin-right:5px;">OD</label>
                    <select class="form-control" style="display:inline;width:40%;margin-left:4px;">
                        <option>14:00</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
            <label for="to"style="margin-left:22px;margin-right:5px;">DO</label>
                <select class="form-control" style="display:inline;width:40%;">
                    <option>16:00</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
        </div>
        <div class="form-group">
            <label for="from">STO</label>
            <input type="text" class="form-control" id="tables" placeholder="Sto">
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="3"placeholder="Komentar"></textarea>
        </div>
        <button type="button" class="btn btn-default" style="margin-right:6px;">Otkaži</button>
        <button type="submit" class="btn btn-primary">Sačuvaj</button>
    </form>
</div>
