<ul class="reservations panel-group" id="accordion">
    <li data-ng-repeat="res in reservations track by $index" class="panel panel-default"
      data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">
      <a class="row" href="javascript:void(0);">
                <span class="col-xs-6 text-left">
                    <span><i class="glyphicon glyphicon-time"></i>{{res.startTime}} - {{res.endTime}}<i class="glyphicon glyphicon-user"></i>{{res.numberOfGuests}}</span>
                </span>
                <span class="col-xs-6">
                    <strong class="pull-right green">Rezervisan</strong>
                </span>
                <span class="col-xs-6 text-left title">
                    {{res.firstName}} {{res.lastName}}
                </span>
                <span class="col-xs-6">
                    <strong data-ng-repeat="tab in res.tables" class="pull-right gray">{{tab.label}} </strong>
                </span>
            </a>
            <span class="slide" id="collapse{{$index}}">
                <b>E-mail: {{res.email}}</b>
                <b>Telefon: {{res.phoneNumber}}</b>
            </span>
    </li>
</ul>
<p class="res-msg" data-ng-if="!reservations || reservations.length == 0">Nema rezervacija za izabrani datum.</p>
