Django==1.7
django-cors-headers==1.1.0
djangorestframework==3.3.3
pbr==1.10.0
psycopg2==2.6.1
pytz==2016.4
six==1.10.0
stevedore==1.14.0
virtualenv==15.0.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
wheel==0.29.0
wsgiref==0.1.2
