.navbar {
    height: auto;
    background: #000;
    margin: 0;
    height: 80px;
}

.navbar-nav li {
    display: inline-block;
    border-left: 1px solid #333;
}
.navbar-nav li:last-child {
    border-right: 1px solid #333;
}
.navbar-nav li a {
    border-top: 5px solid #000;
    display: inline-block;
    padding: 25px 20px 30px 20px;

}
.navbar-header {
    height: 80px;
}
.navbar-header a {
    padding: 10px 0;
    display: block;
    margin-left: 0 !important;
    height: 80px;
}
.navbar-nav li.active a,
.navbar-nav li a:hover {
    border-color: #F3AF1E;
}
.breadcrumb {
    background: #1F1F1F;
    background: 0 none;
    margin: 6px 0 0 0;
    padding: 0;
}
.breadcrumb-custom {
    background: #1F1F1F;
    width: 100%;
}
.breadcrumb li {
    padding: 0 !important;
    margin: 0 !important;
}
.breadcrumb li a {
    color: #BBB;
    font-size: 16px;
    display: block;
    padding: 15px 15px 0 15px;
    line-height: 1em;
    margin: -14px 0 0 0;
    line-height: 80px;
}
.breadcrumb li a:hover {
    text-decoration: none;
    color: #FFF;
}
.breadcrumb li:first-child a {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 30px 0 0;
    background: url("../img/arrow-r.png") right 37px  no-repeat;
    display: block;
    margin: 0;
}
.breadcrumb>li+li:before {
    content: '' !important;
    padding: 0 !important;
}
.breadcrumb li.active a {
    color: #F3AF1E;
    background: url("../img/arrow-up.png") bottom center no-repeat;
}
.main-button {
    background: #F3AF1E;
    color: #FFF;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 50px;
    font-weight: bold;
}
.main-button i {
    padding-right: 10px;
    display: inline-block;
}
.main-button:hover {
    text-decoration: none;
    background: #BBB;
}
.courses-menu {
    padding: 0px;
    color: #333;
}
.courses-menu li {
    display: inline-block;
    list-style-type: none;
    float: left;
    width: 33%;
    overflow: hidden;
}
.courses-menu li a {
    padding: 15px;
    display: block;
    background: #CFD4DA;
    color: #FFF;
    margin-right: 1px;
    font-weight: bold;
}
.courses-menu li a:hover,
.courses-menu li.active a {
    text-decoration: none;
    background: #FDAF19;
}
.courses-menu li:last-child {
    border-radius: 0px 6px 6px 0px;
}
.courses-menu li:first-child {
    border-radius: 6px 0 0 6px;
}
.jumbotron {
    padding: 20px 0;
}
.white-area {
    background: #FFF;
    border-radius: 6px;
    margin-top: 20px;
    width: 1300px;
    height: 650px;
}
.schema-img {
    padding: 10px;
    width: 100%;
    height: 100%;
}
.right-side {
    border-left: 1px solid #DDD;
}
/*.bubble {
    background: #FDAF19;
    padding: 5px 10px;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    width: 60px;
    display: inline-block;
}*/
aside {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: rgba(24,175,6,1);
    border: 2px  solid rgba(0,0,0,0.5);
    border-radius: 4px; padding: 8px;
    font-size: small;
    color: white;
    font-weight: bold;
}
.taken {
    background-color: rgba(230,30,10,1);
}
.slider {
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 6px;
    height: 2px;
}
.slider-wrapper {
    padding: 15px;
}
/*.slider p {
    margin-top: 10px;
}*/
.time-line {
    /*position: absolute;
    bottom:8px;
    left:0px;*/
    position: relative;;
    bottom:12px;
    left:0px;
    background-color: #18AF06;
    height: 7px;
    width: 50px;
    display: block;
}
.time-line-span {
    position: absolute;
    background-color: #E61E0A;
    height: 7px;
}
.save-button {

}
.login-div {
    margin-top: 100px;
}

date-custom p {
    padding: 15px 15px 5px 15px;
    text-align: left;
    border-bottom: 1px solid #DDD;
    margin-bottom: 0;
}
.date-custom p a {
    color: #1F1F1F;
}
.date-custom span {
    float: left;
    font-size: 26px;
    width: 100%;
    position: relative;
    margin-bottom: 10px
}
.date-custom span b {
    display: block;
    line-height: 1.1em;
    padding-bottom: 5px;
}
.date-custom span i.glyphicon-calendar {
    color: #CFD4D8;
    margin-right: 10px;
    font-size: 50px;
    float: left;
}
.date-custom em {
    font-size: 14px;
    display: block;
    color: #BBB;
}
.date-custom input {
    display: block;
    width: 1px;
    border: 0 none;
    height: 0px;
    outline: none;
    color: white;
}
.date-custom span i.glyphicon-chevron-down {
    font-size: 12px;
    top: 10px;
    right: 0;
    position: absolute;
}

.login-error {
    margin-top: 15px;
    color: red;
}

.reservations {
    padding: 0;
    margin: 0;
}
.reservations li {
    list-style-type: none;
    display: block;
    border-bottom: 1px solid #DDD;
}
.reservations li:last-child {
    border: 0 none;
}
.reservations li a {
    display: block;
    padding: 10px;
    color: #A9A9A9;
}
.reservations li a span {
    font-size: 14px;
}
.reservations li a span i {
    padding: 0 5px 0 0;
}
.reservations li a span i.glyphicon-user {
    padding-left: 15px;
}
span.title {
    font-size: 18px !important;
    font-weight: bold;
    color: #333;
    padding-top: 10px;
}
span.slide {
    display: none;
    background: #CFD4DA;
    width: 100%;
}
span.slide b {
    display: block;
    line-height: 30px;
    color: #333;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}
.green {
    background: green;
    color: #FFF;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
}
.gray {
    background: gray;
    color: #FFF;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 5px;
}

.form-placeholder {
    color: #999;
}

.new-reservation {
    width: 90%;
    margin: auto;
}
.res-msg {
    font-style: italic;
}
.bubble {
    background: #FDAF19;
    padding: 5px 10px;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    width: 60px;
    display: inline-block;
}
