<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="images/apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/angularjs-slider/dist/rzslider.css" />
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">

  </head>
  <body ng-app="rezervoarApp" ng-controller='MainController'>
  <!-- <div ng-view> -->

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="images/logo-rezervoar.png" alt="Logo Rezervoar"/>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="./">Rezervacije <span class="sr-only">(current)</span></a></li>
                        <li><a href="../navbar-static-top/">Setup</a></li>
                        <li ng-if="currentUser"><a href data-ng-click="logout()">Odjavi se</a></li>
                        <li ng-if="currentUser"><a href="../navbar-fixed-top/">{{ currentUser }}</a></li>
                    </ul>
                </div><!--/.navbar-collapse -->
            </div>
        </nav>
<ng-view>

</ng-view>

    <div class="footer">
      <div class="container">

      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>




    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angularjs-slider/dist/rzslider.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-i18n/angular-locale_sr-latn-rs.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/logincontroller.js"></script>
        <script src="scripts/controllers/maincontroller.js"></script>
        <script src="scripts/directives/draggabletable.js"></script>
        <script src="scripts/directives/timeline.js"></script>
        <script src="scripts/services/authenticationfactory.js"></script>
        <script src="scripts/services/authenticationinterceptor.js"></script>
        <script src="scripts/services/guestfactory.js"></script>
        <script src="scripts/services/reservationfactory.js"></script>
        <script src="scripts/services/tablefactory.js"></script>
        <script src="scripts/unique.js"></script>

        <!-- endbuild -->

</div>
</body>
</html>
